html {
    font-size: 16px;
    font-family: $main-font-one;
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    background-color: $color-base;
  }
  
  .container {
    max-width: 1200px;
    margin:0 auto;
  }