$color-shadowMain: #00000029;
$color-shadowButton: #07ACE629;
$color-headButton: #08A6E4;
$color-background: #FFFFFF;
$color-navMenuText: #A5A5A5;
$color-secondMain: #FB3B64;
$color-thirdMain: #55DFB4; 
$color-mainText: #000000;
$color-footerMain: #F7F7F7;
$color-base: #E8E9ED;
$color-formText: #707070;
$color-formShadow: #95989A;
