* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-raleway: 'Raleway', sans-serif;
    --font-sans: 'Open Sans', sans-serif;
    --color-white: #FFFFFF;
    --color-grey1: #00000029;
    --color-black: #000000;
    --color-blue1: #08A6E4;
    --color-grey2: #A5A5A5;
    --color-lightBlue: #07ACE629;
    --color-red1: #FB3B64;
    --color-green:  #55DFB4;
    --color-slightgrey: #F7F7F7;
    --color-grey: #E8E9ED;
    --color-blue2: #07ACE6;
    --color-pink: #F9043629;
    --color-dark: #13253B;
    --color-red2: #EB476E;
    --color-pink2: #FF091129;
    --color-greyshadow: #95989A;
    --color-darkgrey: #707070;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.menu {
    width: 100%;
    height: 70px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 6px var(--color-grey1);
    position: fixed;
    z-index: 10000;
}

.menu ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
}

.menu ul li {
    padding: 20px;
    letter-spacing: 3.28px;
    position: relative;
}

.page-logo {
    margin: 0 0 0 136px;
    color: var(--color-blue1);
    font-size: 32px;
    font-family: var(--font-raleway);
    font-weight: 300;
}

.page-nav {
    margin: 0 136px 0 0;
}

.page-nav-list a {
    font-family: var(--font-sans);
    font-weight: bold;
    font-size: 11px;
    color: var(--color-grey2);
}

.page-nav-list a:hover {
    border-bottom: 3px solid var(--color-blue1);
    padding-bottom: 25px;
    color: var(--color-black);
}

.banner {
    height: 500px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 170px;
}

.banner .banner_title {
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 49px;
    letter-spacing: 0;
    color: var(--color-black);
    font-weight: 400;
}

.image {
    background-image: url(assets/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
    border: none;
    color: var(--color-white);
}

.banner p {
    text-align: center;
    font-family: var(--font-sans);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    margin: 40px 0 40px 0;
}

.banner a {
    width: 440px;
    height: 67px;
    background: var(--color-blue1);
    box-shadow: 5px 10px 14px var(--color-lightBlue);
    border-radius: 40px;
    opacity: 1;
    font-size: 16px;
    font-family: var(--font-sans);
    color: var(--color-white);
    opacity: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.container div.stats {
    height: 500px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.stats_div {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats p {
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 400;
}

.stats_div div {
    height: 200px;
    display: block;
    align-items: center;
    font-family: var(--font-raleway);
    text-align: center;
    margin: 20px 80px 0 80px;
}

.stats_div div p {
    font-size: 20px;
    letter-spacing: 5.96px;
    font-weight: 700;
    color: var(--color-black);
}

.stats_div div h2 {
    font-size: 17px;
    font-weight: normal;
    color: var(--color-grey2);
    padding-top: 10px;
}

#first {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--color-red1);
    position: relative;
    margin-bottom: 15px;
}

#first::after {
    content: "";
    background-image: url(assets/Person.svg);
    background-repeat: no-repeat;
    width: 44px;
    height: 52px;
    display: block;
    position: absolute;
    left: 31.5px;
    top: 3px;
}

#second {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--color-blue1);
    position: relative;
    margin-bottom: 15px;
}

#second::after {
    content: "";
    background-image: url(assets/Eye.svg);
    background-repeat: no-repeat;
    width: 65px;
    height: 36px;
    display: block;
    position: absolute;
    left: 21.5px;
    top: 13px;
}

#third {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--color-green);
    position: relative;
    margin-bottom: 15px;
}

#third::after {
    content: "";
    background-image: url(assets/Catalog.svg);
    background-repeat: no-repeat;
    width: 52px;
    height: 48px;
    display: block;
    position: absolute;
    left: 30px;
    top: 5px;
}

.section_second {
    width: 100%;
    height: 1395px;
    background-color: var(--color-slightgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    padding: 100px 0 100px 0;
}

.section_second div {
    width: 70%;
    height: 370px;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

body>section.section_second>div:nth-child(3) {
    background-color: var(--color-slightgrey);
}

body>section.section_second>div:nth-child(3)>div:nth-child(1) {
    width: 55%;
    height: 100%;
    background-color: var(--color-white);
}

body>section.section_second>div:nth-child(3)>div:nth-child(2) {
    width: 40%;
    height: 100%;
    background-color: var(--color-green);
}

.section_second .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 45px;
    padding-left: 35px;
    padding-right: 10px;
}

body>section.section_second>div:nth-child(2)>div.info {
    padding-left: 120px;
}

.section_second .info h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    padding-bottom: 30px;
    font-weight: 400;
}

.section_second .info p {
    position: relative;
    font-family: var(--font-sans);
    font-size: 16px;
}

.section_second .info p::after {
    bottom: -50px;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 60%;
}

body>section.section_second>div:nth-child(1)>div.info>p::after {
    background-color: var(--color-red1);
}

section.section_second>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body>section.section_second>div:nth-child(1)>div:nth-child(2)>div {
    width: 180px;
    height: 180px;
    background-color: var(--color-red1);
    border-radius: 41px;
    display: block;
    background-repeat: no-repeat;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    right: 65px;
    top: 80px;
}

body>section.section_second>div:nth-child(1)>div:nth-child(2)::after {
    content: "";
    width: 376px;
    height: 219px;
    background: url(assets/Macbook.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    right: 70px;
    bottom: 35px;
}

body>section.section_second>div:nth-child(2)>div.info>p::after {
    background-color: var(--color-blue1);
}

body>section.section_second>div:nth-child(2)>div:nth-child(1)>div {
    width: 320px;
    height: 320px;
    background-color: var(--color-blue1);
    border-radius: 50%;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
}

body>section.section_second>div:nth-child(2)>div:nth-child(1)::after {
    content: "";
    width: 426px;
    height: 328px;
    background: url(assets/iPhone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    z-index: 3;
    position: absolute;
    bottom: 0px;
    right: -25px;
}

section.section_second>div:nth-child(2)>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body>section.section_second>div:nth-child(3)>div.info>p::after {
    background-color: var(--color-green);
}

body>section.section_second>div:nth-child(3)>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

body>section.section_second>div:nth-child(3)>div:nth-child(2)::after {
    content: "";
    width: 75%;
    height: 75%;
    background: url(assets/Trumpet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    z-index: 3;
    margin-top: 30px;
}

.section_last {
    width: 100%;
    height: 1300px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 170px;
}

section .options {
    width: 80%;
    height: 610px;
    display: flex;
    justify-content: space-between;
}

section .options div {
    padding-top: 32px;
}

.section_last div div h3 {
    font-family: var(--font-raleway);
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 14px;
    color: var(--color-dark);
}

section div ul .cross {
    list-style: url(assets/Close.svg);
    list-style-position: inside;
}

.options ul {
    list-style: url(assets/Ckechmark-1.svg);
    list-style-position: inside;
    text-align: center;
}

.options ul li {
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 26px;
    padding-left: 7px;
}

#pro li {
    padding-bottom: 30px;
}

.section_last div div h5 {
    font-family: var(--font-raleway);
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 40px;
    color: var(--color-dark);
}

body>section.section_last>div.options>div.professional>h5 {
    padding-bottom: 61px;
}

.section_last div.options div p {
    font-family: var(--font-sans);
    font-size: 46px;
    font-weight: 300;
    padding-bottom: 10px;
}

.basic {
    width: 28%;
    height: 77%;
    border: 1px solid var(--color-red1);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.basic h5 {
    visibility: hidden;
}

.basic a {
    background-color: var(--color-red2);
    width: 150px;
    height: 50px;
    bottom: -25px;
    position: absolute;
}

.professional {
    width: 36%;
    height: 85%;
    border: 1px solid var(--color-blue2);
    box-shadow: 5px 10px 27px var(--color-lightBlue);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.professional::before {
    content: "Pricing";
    position: absolute;
    top: -90px;
    text-align: center;
    font-size: 36px;
    font-family: var(--font-raleway);
    font-weight: normal;
}

.options a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    color: var(--color-white);
    font-size: 13px;
    font-family: var(--font-sans);
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
}

.professional a {
    background-color: var(--color-blue2);
    width: 165px;
    height: 50px;
    bottom: -25px;
    position: absolute;
    z-index: 5;
}

.premium {
    width: 28%;
    height: 77%;
    border: 1px solid var(--color-green);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.premium a {
    background-color: var(--color-green);
    width: 150px;
    height: 50px;
    bottom: -25px;
    position: absolute;
}

div.options>div.professional>p {
    color: var(--color-blue2);
}

div.options>div.basic>p {
    color: var(--color-red2);
}

div.options>div.premium>p {
    color: var(--color-green);
}

section .form {
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

section .form div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

body > section.section_last > div.form > div:nth-child(2){
    padding-right: 10px;
}

section.section_last>div.form>div:nth-child(2)>form>div>p {
    font-size: 12px;
    width: 92%;
    height: 60%;
    text-align: left;
    color: var(--color-darkgrey);
    font-family: var(--font-sans);
    position: absolute;
    right: 0px;
}

.form div form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.form p {
    font-size: 16px;
    font-family: var(--font-sans);
    color: var(--color-black);
    margin-bottom: 42px;
    font-weight: normal;
}

.form h2 {
    font-family: var(--font-raleway);
    font-size: 49px;
    font-weight: normal;
    margin-bottom: 22px;
    color: var(--color-black);
}

.checkbox input {
    display: block;
}

.checkbox p {
    display: block;
}

.checkbox {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.form ul {
    display: flex;
    color: var(--color-grey2);
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    overflow: auto;
}

.form ul li {
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form img {
    margin-right: 10px;
}

.form label {
    font-family: var(--font-sans);
    font-weight: bold;
    font-size: 11px;
    color: var(--color-blue1);
    letter-spacing: 3.28px;
}

.form input.line {
    margin-bottom: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid var(--color-greyshadow);
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.form button {
    width: 226px;
    height: 55px;
    background: var(--color-blue1);
    border-radius: 35px;
    box-shadow: 4px 10px 14px var(--color-lightBlue);
    padding: 0;
    border: none;
    color: var(--color-white);
    font-family: var(--font-sans);
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: -166px;
    outline: none;
    z-index: 30;
}

#checkbox {
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 24px;
    height: 24px;
    opacity: 0;
    z-index: 30;
}

/*checkmark*/

.checkmark {
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 24px;
    width: 24px;
    background: var(--color-white) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-greyshadow);
    border-radius: 4px;
    opacity: 1;
}

.checkmark:after {
    content: "";
    background-image: url("assets/Checkmark.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    display: none;
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

footer {
    width: 100%;
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-slightgrey) 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px var(--color-grey1);
    opacity: 1;
}

#footer-logo {
    font-size: 26px;
    text-decoration: none;
    color: var(--color-blue1);
    font-family: var(--font-raleway);
    font-weight: 300;
    margin-top: 18px;
}

.footer-div-one {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 137px;
}

.footer-div-one p{
    color: var(--color-grey2);
    font-family: var(--font-sans);
    font-size: 11px;
    margin-bottom: 20px;
}

.footer-icons {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 135px;
}

.footer-icons img {
    margin-left: 20px;
}

